@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to right, #FFD340, #FFBC24 );
    }

    main {
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #b8891aa2 ;
        width: 600px;
        padding: 10px;
        margin: auto
    }
h1 {
    color: #20448C;
    text-align: center;
    text-shadow: 1px 1px 2px #152d5ec0 ;
}
h2 {
    color: #086CB4
}
p {
    text-align: justify;
    
}